@import "node_modules/bootstrap/scss/bootstrap";

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
}

.alpha {
    background-color: #6f5499;

    h1 {
        color: #fff;
    }
}

.propic-wrapper {
    float: right;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.propic-wrapper:focus-visible {
    outline: 2px solid #f2f3f3;
    outline-offset: 4px;
}

.propic-photo {
    display: block;
    width: 100%;
    border: 3px solid #f2f3f3;
    border-radius: 50%;
    box-sizing: border-box;
}

.propic-qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0px solid #f2f3f3;
    border-radius: 24px;
    background-color: #ffffff;
    padding: 0px;
    box-sizing: border-box;
}

.propic-qr canvas {
    width: 100%;
    height: auto;
    border-radius: 18px;
}

.propic-hidden {
    display: none !important;
}

.page-header {
    p {
        margin-bottom: 0;
    }

    .brief {
        font-size: 24px;
        // font-size: 1.5em;
        color: rgb(205, 191, 227);
        margin-bottom: 10px;
    }

    .contact {
        font-size: 16px;
        color: #e1daec;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .office {
        font-size: 14px;
        color: #e1daec;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .outside-contact {
        // margin-left: 10px;
        margin-right: 10px;
        // margin-top: 20px;
        font-size: 16px;
        color: #fff;
    }

    .outside-icon {
        margin-bottom: 3px;
    }

    .site-text {
        padding-top: 5px;
        font-size: 16px;
        display: inline;
        padding-top: 1px;
    }
}


.about-me {
    p {
        font-size: 18px;
        color: #555;
        margin-bottom: 8px;
    }

    margin-bottom: 20px;
}

.paper-item {
    padding-bottom: 9px;
}

.paper {
    .title {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .author {
        font-size: 16px;
        margin-bottom: 0;
    }

    .note {
        font-size: 8px;
        margin-bottom: 0;
    }

    .venue {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .btn {
        padding: 3px 12px;
        font-size: 14px;
        border-radius: 5px;
    }
}

.tutor-project {
    .title {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .remark {
        font-size: 18px;
        margin-bottom: 0;
    }

}

content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

footer {
    // position: fixed;
    position: absolute;
    // margin-top: 40px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
