{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.venue%}<p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p> {% endif %}
<div class="modal fade" id="journalModal" tabindex="-1" role="dialog" aria-labelledby="journalModalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="journalModalTitle">Journal Paper</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<b>Title:</b> <span id="journalTitle"><a href="https://ieeexplore.ieee.org/document/7944646">On BATS Codes With Variable Batch Sizes</a></span><br>
						<b>Author(s):</b> <span id="journalAuthor">Qiaoqiao Zhou, Shenghao Yang, <b>Hoover H. F. Yin</b>, Bin Tang</span><br>
						<b>Journal:</b> <span id="journalName">IEEE Communications Letters</span><br>
						<b>Volume:</b> <span id="journalVolume">21</span><br>
						<b>Number:</b> <span id="journalNumber">9</span><br>
						<b>Date:</b> <span id="journalDate">Sept. 2017</span><br>
						<b><span id="journalPagesTitle">Pages:</span></b> <span id="journalPages">1917-1920</span><br>
						<b>DOI:</b> <span id="journalDoi">10.1109/LCOMM.2017.2713813</span><br>
						<b>Abstract:</b> <span id="journalAbstract">BATS codes are a class of low complexity random linear network codes with high throughput. In a previous work, BATS codes were generalized to incorporate batches of different sizes, and a sufficient condition was obtained such that the belief propagation decoding can recover a given fraction of the input packets with high probability. In this paper, by investigating an optimization problem induced by the sufficient condition, we derive a condition such that it is optimal to use a constant batch size. This condition gives us a guideline for designing practical network protocol based on BATS codes. Moreover, we prove that this condition is always satisfied in line networks.</span>
					</div>
				</div>
			</div>
		</div>
    </li>
 </article>

</div>

